
/* Color Pallete - https://colorhunt.co/palette/f4fcd9c5d8a4bb9981534340 */

/* Nav-Bar */
body {
  background-color: #111820;
}

a:hover {
  color:#f5bc76 !important;
}

/* Navbar */

#navbar {
  padding: 0 2em 0 0;
  background-color: #111820;
  color: #e6a24b !important;
}

#navbar .container-fluid {
  padding: 0;
  text-align: left;
  background-color: #111820;
  color: #e6a24b !important;
}

.nav-link {
  font-size: 1.7rem;
  color: #e6a24b !important;
}

.nav-item {
  padding: .5em 2em;
}

/* Title Section */

#title{
  padding: 0;
  text-align: center;
  color: #e6a24b;
  background-color: #111820;
}

#contact {
  padding: .2em;
}

.contact-links {
  padding: 2em .2em;
  color: #e6a24b;
}

.contact-list {
  font-size: x-large;
  list-style-type: none;
  text-align: center;
  padding: 2em .2em;
}

.contact-content {
  display: inline-block;
  text-align: left;
}

/* About Section */

#about {
  background-color: #111820;
  color: #e6a24b;
  text-align: center;
  padding: 4em 2em;
}

.about-text {
  padding: 1em;
}



/* Gallery */

#gallery {
  background-color: #e6a24b;
  color: black;
  text-align: center;
  padding: 7% 5%;
}

.carousel-item {
  height: 90%;
  overflow-y: hidden;
}

.gallery-img {
  padding: 5% 12%;
  width: 100%;
  object-fit: contain;
}

/* Footer */
#footer .container-fluid {
  background-color: #111820;
  color: #e6a24b;
  padding: .1em;
  text-align: center;
}
