
/* Color Pallete - https://colorhunt.co/palette/f4fcd9c5d8a4bb9981534340 */

/* Nav-Bar */
body {
  background-color: #111820;
  font-family: 'Lato', sans-serif;
}

a:hover {
  color:#f5bc76 !important;
}

h4 {
  font-size: 1.1em;
}

/* Navbar */

#navbar {
  background-color: #111820;
  color: #e6a24b !important;
}

#navbar .container-fluid {
  text-align: center;
  background-color: #111820;
  color: #e6a24b !important;
  justify-content: center;
}

.nav-link {
  font-size: 1.5em;
  color: #e6a24b !important;
}

.nav-row
{
  width: 100%;
  padding: .2em;
}

.active
{
  color: #ffdba879 !important;
}

.nav-item {
  padding: .5em .1em;
}

.nav-logo {
  max-height: 13em;
  text-align: left;
  padding: .1em;
}

.navbar-toggler
{
  text-align: center;
  margin-top: .8em;
}

/* Title Section */

#title{
  padding: .2em;
  text-align: center;
  color: #e6a24b;
  background-color: #111820;
}


.home-logo {
  vertical-align: middle;
  max-width: 50%;
}


.contact-links {
  padding: 2em .2em;
  color: #e6a24b;
  max-width: 80%;
}

.contact-list {
  list-style-type: none;
  text-align: center;
  padding: 2em .2em;
  height: 100%;
}

.contact-content {
  display: inline-block;
  text-align: left;
  font-size: x-large;
  height: 100%;
}

.tbody {
  justify-self: center;
}

.fa-solid {
  padding: 1em;
}

/* About */

#about {
  background-color: #111820;
  color: #e6a24b;
  text-align: center;
  padding: 4em 2em;
}

.about-text {
  padding: .5em 1em 1em 1em;
  max-width: 90%;
  font-size: medium;
}

.about-text h3
{
  width: 100%;
}

.about-text p
{
  width: 100%;
}

/* Contact */

#contact {
  background-color: #111820;
  color: #e6a24b;
  text-align: center;
  padding: 2em 1em;
}

.contact-text
{
  padding: .2em;
  max-width: 80%;
}

/* Services */

#services {
  background-color: #111820;
  color: #e6a24b;
  text-align: center;
  padding: 4em 2em;
}

.services-text
{
  padding: .2em 1em 1em 1em;
  max-width: 80%;
  text-align: left;
}

dl
{
  vertical-align: top;
  max-width: 100%;
}
dt
{
  font-size: x-large;
  max-width: 100%;
}
dd
{
  font-size: large;
  max-width: 100%;
}


/* Gallery */

#gallery {
  background-color: #e6a24b;
  color: black;
  text-align: center;
  padding: 7% 5%;
}

.carousel-item {
  height: 90%;
  overflow-y: hidden;
}

.gallery-img {
  padding: 5% 12%;
  width: 100%;
  object-fit: contain;
}

/* Footer */
#footer {
  background-color: #111820;
  color: #e6a24b;
  padding: .1em;
  text-align: center;
  font-size: x-small;
}
.clear { clear: both; height: 60px; }


@media only screen and (max-width:1400px) {.home-logo {max-width:80%;}}
@media only screen and (max-width:1200px) {.home-logo {max-width:90%;}}
@media only screen and (max-width:768px) {.home-logo {max-width:100%; margin: 15%;} .nav-logo {text-align: center;} .contact-text h3{font-size: medium;}}

